.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
 #home{
     background-image: url("../../../assets/fernando.png");
     background-repeat: no-repeat;
     background-size: cover
 }
 #homeL{
     color: white;
 }

  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
#liga1{
    background-image: url("../../../assets/img/ligas/bd.png");
    background-repeat: no-repeat;
    background-size: cover
}

#liga2{
    background-image: url("../../../assets/img/ligas/ligabbvajpg.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

#liga3{
    background-image: url("../../../assets/img/ligas/PREMIER-LEAGUE2.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

#liga4{
    background-image: url("../../../assets/img/ligas/champ.png");
    background-repeat: no-repeat;
    background-size: cover
}